
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*--------> start here <-----------*/ 

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    grid-template-rows: 2fr 6fr 0.6fr;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

body.day {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: black;
}

header {
    font-size: 2.3rem;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerRight {
    display: flex;
    gap: 80px;
    align-items: center;
}

#dayNight {
    height: auto;
    width: 55px;
}

.addBook img{
    width: auto;
    height: 50px;
}

#book-form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.2rem;
}

input {
    border: none;
    border-radius: 15px;
}

#titleAddNew {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.headerRight img:hover, #close-page img:hover, a:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.headerRight img:active, #close-page img:active, a:active{
    cursor: pointer;
    transform: scale(0.9);
}

button:hover {
    background-color: #8ec5fc;

}

button:active {
    background-color: #8ec5fc;
    background-color:#e0c3fc;    
}




.fullscreen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }

  .pop-up{
    border-radius: 15px;
    border: solid 3px black;
    display: flex;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    justify-content: center;
    height: 35rem;
    width: 30rem;
    min-width: 200px;
}

#close-page{
    display: flex;
    justify-content: flex-end;
}

#submit-btn {
    border-radius: 15px;
    border: none;
    width: 40%;
}

#addBookDiv {
    display: flex;
    justify-content: center;
}


.input-field{
    display: flex;
    flex-direction: column;
}
.input-field:last-of-type>input{
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}


main {
    height: 300px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;

}

#footerDiv {
    display: flex;
    align-items: center;
    padding: 3px;
}

#footerDiv img{
    padding-left: 5px;
}