@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*--------> start here <-----------*/ 

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100vh;
    grid-template-rows: 220px 1fr 110px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

body.day {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: black;
}

header {
    font-size: 2.5rem;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}


.headerRight {
    display: flex;
    gap: 80px;
    align-items: center;
}

#dayNight {
    height: auto;
    width: 55px;
}

#about {
    height: auto;
    width: 52px;
}

.about {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 15px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
    font-size: 1.1rem;
    text-align: justify;
  }

  ul {
    padding-left: 5px;
  }

  li {
    padding-left: 1px;
  }

  .about:hover .dropdown-content {
    display: block;
  }

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.addBook img{
    width: auto;
    height: 50px;
    border-radius: 50px;
}

#h1 {
    font-size: 1.8rem;
    padding: 15px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: 250px;
    gap: 25px;
    padding: 10px;

}

.books div {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 15px;
    border: 2px;
    border-style: outset;
    border-color: rgb(241, 241, 241);
}

.books div:hover {
    border-style: inset;

}


#book-form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.2rem;
}

input {
    border: none;
    border-radius: 15px;
}

#titleAddNew {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.headerRight img:hover, #close-page img:hover, a:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.headerRight img:active, #close-page img:active, a:active{
    cursor: pointer;
    transform: scale(0.9);
}

button:hover {
    background-color: #8ec5fc;

}

button:active {
    background-color: #8ec5fc;
    background-color:#e0c3fc;    
}

.edit-icon {
    width: 25px;
    height: 25px;
    position:static;
    right: 45px;
    top: 15px;
}

.card.book {
    display: grid;    
    grid-template-columns: 8fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    border-radius:8px;
}

.read-checked {
    color: rgb(75, 75, 75);

}

.delete {
    border: none;
    grid-column: 3;
    grid-row: 1;
    width: 80%;
    height: 50%;
    display: block;

}

.edit-icon {
    grid-column: 2;
    grid-row: 1;
    display: block;
}

.book-title {
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: 1.4rem;
    
}

.book-author {
    grid-column: 1 / 4;
    grid-row: 3;
    font-size: 1.2rem;

}

.book-pages {
    grid-column: 1 / 4;
    grid-row: 4;
    font-size: 1.2rem;

}

.book-read {
    grid-column: 1;
    grid-row: 5;
    font-size: 1.2rem;

}




.fullscreen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }

  .pop-up{
    border-radius: 15px;
    border: solid 3px black;
    display: flex;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    justify-content: center;
    height: 35rem;
    width: 30rem;
    min-width: 200px;
}

#close-page{
    display: flex;
    justify-content: flex-end;
}

#submit-btn {
    border-radius: 15px;
    border: none;
    width: 40%;
}

#addBookDiv {
    display: flex;
    justify-content: center;
}


.input-field{
    display: flex;
    flex-direction: column;
}
.input-field:last-of-type>input{
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}


main {
    grid-row: 2;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    grid-row: 3;
    font-family: 'Ubuntu', sans-serif;

}

#footerDiv {
    display: flex;
    align-items: center;
    padding: 3px;
}

#footerDiv img{
    padding-left: 5px;
}